<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aqua">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.chat.MessageListActivity"></activity>
        <activity
            android:name=".ui.StartupActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_startup"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ProfileListActivity"
            android:label="@string/title_profile_list"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.ProfileDetailActivity"
            android:label="@string/title_profile_detail"
            android:parentActivityName=".ui.ProfileListActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aqua.ui.ProfileListActivity" />
        </activity>
        <activity
            android:name=".ui.Contacts"
            android:label="@string/title_activity_contacts"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.post.NewPostActivity"
            android:parentActivityName=".ui.post.PostsActivity" />
        <activity
            android:name=".ui.post.PostsActivity"
            android:parentActivityName=".ui.DrawerActivity" />
        <activity
            android:name=".ui.DrawerActivity"
            android:label="@string/title_activity_drawer"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.chat.ChatActivity"
            android:label="Chat" />
    </application>

</manifest>